.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.mdButton{
    border: 0px;
    background-color: rgba(255, 255, 255, 0);
}

.linkBtn{
    margin-top: 0px;
    padding:1px 5px;
}

.linkBtn:hover{
    background-color: #9db6d2b4;
    border-radius: 20px;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.closebtn{
    position: fixed;
    right: 40px;
    top: 20px
}

.otherLink{
    text-decoration: none !important;
    position: relative !important;
}

.homeLink {
    text-decoration: none !important;
    position: relative !important;
  }
  
  .homeLink:after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: -1px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 60%;
    background: #cacaca;
    -webkit-transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .homeLink:hover:after {
    width: 20%;
    background: #9db6d2;
    opacity: 0.1;
  }

@media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
}